.btn_twbbcode {
  padding: 7px 20px;
  margin: 0px 5px 5px 5px;
  background-color: #5cb85c;
  color: white;
  border-radius: 9px;
  border: none;
  font-size: 14px;
  font-family: Roboto;
  text-shadow: 1px 1px black;
  box-shadow: 2px 3px 11px -5px black;
}

.btn_twbbcode:first-of-type {
  margin-left: 0;
}

.btn_twbbcode:last-of-type {
  margin-right: 0;
}

.textarea_twbbcode {
  border-radius: 5px;
  font-family: Roboto;
}
